.container {
  box-shadow: rgb(158 158 158 / 25%) -1px 3px 15px 0px;
  background-color: #fff;
  margin: 2rem;
  border: 1px solid #eee;
  padding: 50px;
  border-radius: 30px;
  overflow: hidden;
}

.title {
  font-weight: bold;
}
